body{background: #232323 url(im/body_bg.jpg) repeat top left; padding:0;margin:0; font-family: Arial,"Helvetica Neue",Verdana,sans;color:#DDD;font-size:16px;line-height:24px;text-align:center;}
#container{width:760px;margin:0 auto;text-align:left;}

h1,h2,h3,h4{font-family: 'Coustard', sans-serif;font-weight:normal;}

p{margin:0 0 12px;padding:0;float:left;clear:both;}

a img{border:0;outline:0;}
a{color:#DDD;text-decoration:none;}
a:hover{text-decoration:underline;}
a.btn{display:block;float:left;clear:both;height:20px;background:url(im/btn_left.png) no-repeat top left;padding-left:12px;color:#fff;font-size:12px;line-height:20px;text-decoration:none;}
a.btn span{display:block;float:left;clear:both;height:20px;background:url(im/btn_right.png) no-repeat top right;padding-right:12px;}

a.lrg_btn{
padding:4px 32px;
font-family: 'Arvo', serif;
font-size:20px;
line-height:24px;
color:#FFF;
border:1px solid #333;
text-shadow: 0 1px 5px rgba(0,0,0,0.85);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2c6591), to(#094370));
background-image: -moz-linear-gradient(0% 100% 90deg,#2c6591,#094370);
background-color: #0a4c7f;
-webkit-border-radius:16px;
-moz-border-radius:16px;
-o-border-radius: 16px;
border-radius:16px;
-webkit-box-shadow: 1px 1px 1px #000;
-moz-box-shadow: 1px 1px 1px #000;
box-shadow: 1px 1px 1px #000;
cursor:pointer;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
text-decoration:none;
letter-spacing: 0.025em
}

a.lrg_btn:hover{
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#447aa3), to(#094370));
background-image: -moz-linear-gradient(0% 100% 90deg,#447aa3,#094370);
background-color: #0a4c7f;
}

div.hr-clr{float:left;clear:both;width:100%;font-size:1px;line-height:1px;margin:12px 0;}
div.hr-line{float:left;clear:both;width:100%;font-size:0px;line-height:0px;margin:24px 0;border-top:1px solid #000;border-bottom:1px solid #555;}
div.hr-dot{float:left;clear:both;width:100%;font-size:0px;line-height:0px;margin:24px 0;border-top:1px dotted #555;}

div#header{height:56px;margin:0;float:left;clear:both;width:100%;text-align:center;}
div#header h1{font-size:30px;line-height:80px;padding:0;margin:0;color:#3f78a3;text-shadow: 0px 1px 1px #000;}

div.error_box{clear:both;margin:12px 0;padding:12px 0;width:100%;color:#ffc600;}
div.error_box h2{padding:0;font-size:20px;line-height:30px;}

div.success_box{clear:both;margin:12px 0;padding:12px 0;width:100%;color:#FFF;}
div.success_box h1{padding:0;font-size:30px;line-height:36px;text-shadow: 0px 1px 1px #000;}

form#setup_form{float:left;clear:both;padding:0 0 24px;margin:0;width:100%;}
form#setup_form h3{font-size:20px;line-height:32px;padding:0;margin:0 0 12px;color:#3f78a3;text-shadow: 0px 1px 1px #000;float:left;clear:both;width:100%;}

label{float:left;height:24px;line-height:24px;font-size:13px;width:300px;text-align:right;margin-right:12px;}
input.txt{float:left;background-color:#FFF;border:1px solid #888;height:24px;width:300px;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow: 1px 1px 1px #C7C7C7;-webkit-box-shadow: 1px 1px 1px #000;box-shadow: 1px 1px 1px #000;font-family: Arial,"Helvetica Neue",Verdana,sans;color:#232323;}
textarea.txa{float:left;background-color:#FFF;border:1px solid #888;height:180px;width:300px;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow: 1px 1px 1px #C7C7C7;-webkit-box-shadow: 1px 1px 1px #000;box-shadow: 1px 1px 1px #000;font-family: Arial,"Helvetica Neue",Verdana,sans;color:#232323;}
select.sel{float:left;background-color:#FFF;border:1px solid #888;height:24px;width:300px;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow: 1px 1px 1px #C7C7C7;-webkit-box-shadow: 1px 1px 1px #000;box-shadow: 1px 1px 1px #000;font-family: Arial,"Helvetica Neue",Verdana,sans;color:#232323;}

input.btn{
padding:4px 32px;
font-family: 'Arvo', serif;
font-size:20px;
line-height:24px;
color:#FFF;
border:1px solid #333;
text-shadow: 0 1px 5px rgba(0,0,0,0.85);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2c6591), to(#094370));
background-image: -moz-linear-gradient(0% 100% 90deg,#2c6591,#094370);
background-color: #0a4c7f;
-webkit-border-radius:16px;
-moz-border-radius:16px;
-o-border-radius: 16px;
border-radius:16px;
float:right;
display:block;
-webkit-box-shadow: 1px 1px 1px #000;
-moz-box-shadow: 1px 1px 1px #000;
box-shadow: 1px 1px 1px #000;
cursor:pointer;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
letter-spacing: 0.025em
}

input.btn:hover{
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#447aa3), to(#094370));
background-image: -moz-linear-gradient(0% 100% 90deg,#447aa3,#094370);
background-color: #0a4c7f;
}

#login_container{width:40%;margin:100px 30%;padding:20px;-moz-border-radius:12px;border-radius:12px;-moz-box-shadow: 1px 1px 1px #C7C7C7;-webkit-box-shadow: 1px 1px 1px #C7C7C7;box-shadow: 0px 0px 3px #000;background-color:#454545;float:left;clear:both;background:rgba(60,60,60,0.70);}

form#login_form{float:left;clear:both;padding:0;margin:0;width:100%;display:inline;}
form#login_form h3{font-size:32px;line-height:48px;padding:0;margin:0 0 12px;color:#3f78a3;text-shadow: 0px 1px 1px #000;float:left;clear:both;width:100%;}
form#login_form label{width:95px;}
form#login_form input.txt{width:189px;}


input.txt.fail{background:#FFF url(im/fail.png) no-repeat center right;}
input.txt.pass{background:#FFF url(im/pass.png) no-repeat center right;}
select.sel.fail{background:#FFF url(im/fail.png) no-repeat 264px center;}
select.sel.pass{background:#FFF url(im/pass.png) no-repeat 264px center;}
textarea.txa.fail{background:#FFF url(im/fail.png) no-repeat top right;}
textarea.txa.pass{background:#FFF url(im/pass.png) no-repeat top right;}