<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<basepath>/users/var/www/</basepath>
	<baseurl>str</baseurl>
	<pagetitle>str</pagetitle>
	<postsperpage>int</postsperpage>
	<blogpagefilename>str</blogpagefilename>
	<user id="987" password="SHA1">str</user>
	<allowcomments>bool</allowcomments>
	<timeoffsetfromserver>int</timeoffsetfromserver>
	<rssdescription>str</rssdescription>
</settings>
